<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <springProperty scope="context" name="LOG_PATH" source="primavera.logs.path" defaultValue="/tmp/logs"/>
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd"/>
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%t] %-40.40logger{39} : %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.genius.primavera" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>