<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layouts/layout}">
<head>
	<title>Primavera Post Detail</title>
</head>
<body>
<div layout:fragment="content" class="content-wrapper">
	<section class="content-header">
		<h1>
			Post
			<small>Detail</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li>Post</li>
			<li class="active">Detail</li>
		</ol>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-lg-3 col-xs-6">
				<span th:text="${post.subject}"></span>
				<span th:text="${post.contents}"></span>
				<span th:text="${post.writer.nickname}"></span>
				<span th:text="${post.regDt}"></span>
			</div>
		</div>
	</section>
</div>
</body>
</html>