<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
	<title>Primavera Post List</title>
</head>
<body>
<div layout:fragment="content" class="content-wrapper">
	<section class="content-header">
		<h1>
			Posts
			<small>advanced table</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#">Post</a></li>
			<li class="active">Post Data tables</li>
		</ol>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-widget">
					<div class="box-header">
						<h3 class="box-title">Post Data Table</h3>
						<div class="box-tools">
							<div class="input-group input-group-sm" style="width: 150px;">
								<input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
								<div class="input-group-btn">
									<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="box-body">
						<div class="dataTables_wrapper form-inline dt-bootstrap">
							<div class="row">
								<div class="col-sm-12">
									<table id="posts" class="table table-hover" role="grid">
										<thead>
										<tr role="row">
											<th>ID</th>
											<th>Subject</th>
											<th>Writer</th>
											<th>RegDt</th>
										</tr>
										</thead>
										<tbody>
										<tr th:each="post : ${page.getContents()}">
											<td th:text="${post.id}">1</td>
											<td><a th:href="${'/posts/' + post.id}" th:text="${post.subject}">로마는 하루아침에 이루어지지 않았다.</a></td>
											<td th:text="${post.writerNickName}">Genius</td>
											<td th:text="${#temporals.format(post.regDt, 'yyyy-MM-dd HH:mm:ss')}">2019-05-20</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-5">
									<div class="dataTables_info" id="example2_info" role="status" aria-live="polite"></div>
								</div>
								<div class="col-sm-7">
									<div class="dataTables_paginate paging_simple_numbers" id="posts_paginate">
										<ul class="pagination">
											<li class="paginate_button previous" th:classappend="${page.hasPrevious() ? '' : 'disabled'}" id="posts_previous">
												<a th:href="${page.hasPrevious() ? '/posts?pageNumber='+ page.getPreviousNumber() : ''}" aria-controls="posts" tabindex="0">이전</a>
											</li>
											<li th:each="paginate:${page.paginates}" class="paginate_button" th:classappend="${paginate == page.pageNumber} ? 'active' : ''">
												<a th:href="'/posts?pageNumber=' + ${paginate}" aria-controls="posts" tabindex="0" th:text="${paginate}">1</a>
											</li>
											<li class="paginate_button next" th:classappend="${page.hasNext() ? '' : 'disabled'}" id="posts_next">
												<a th:href="${page.hasNext() ? '/posts?pageNumber='+ page.getNextNumber() : ''}" aria-controls="posts" tabindex="0">다음</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	<script>
		$(function () {
			$('#posts').DataTable({
				'paging'      : false,
				'lengthChange': false,
				'searching'   : false,
				'ordering'    : false,
				'info'        : false,
				'autoWidth'   : false
			});
		})
	</script>
</div>
</body>
</html>