.gradle
.idea
*.iml
*.jks
/chap00/build
/chap00/out
/chap01/build
/chap01/out
/chap02/build
/chap02/out
/chap03/build
/chap03/out
/chap04/build
/chap04/out
/chap05/build
/chap05/out
/chap06/build
/chap06/out
/chap07/build
/chap07/out
/chap07/application.log
/chap08/build
/chap08/out
/chap09/build
/chap09/out
/chap10/build
/chap10/out
/chap11/build
/chap11/out
/chap12/build
/chap12/out
/chap13/build
/chap13/out