<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.genius.primavera.domain.mapper.BulkMapper">

	<insert id="parentInsert" parameterType="com.genius.primavera.domain.model.Parent">
		<selectKey resultType="long" keyProperty="id" order="BEFORE">
			SELECT IFNULL(MAX(ID), 0) + 1 FROM PARENT
		</selectKey>
		INSERT INTO PARENT (ID, AGE, NAME) VALUES (#{id}, #{age}, #{name});
	</insert>

	<insert id="childrenBulkInsert" parameterType="com.genius.primavera.domain.model.Child">
		INSERT INTO CHILD (PARENT_ID, AGE, NAME) VALUES <foreach collection="list" item="child" separator=","> (#{parentId}, #{child.age}, #{child.name}) </foreach>
	</insert>
</mapper>
